#popup_enable {
    height: 30px;
    width: auto;
    outline: none;
    margin: 10px;
    background-color: #20b9d4;
    border-radius: 6px;
    align-self: center
  }

#popup_run_once {
  height: 30px;
  text-align: center;
  outline: none;
  margin: auto;
  background-color: #db9704;
  border-radius: 6px;
  align-self: center;
  display: inline-block;

}

#status {
  /* white-space: nowrap; */
  text-align: center;
  font-size: small;
}

#popup {
  background-color: #B3B3B3
}

#shifts {
  width:250px;
  height:220px;
}

#shifts_label {
  font-size:medium;
}

.chkbox {
  padding-left: 10px;
  /*font-weight: bold;*/
  font-size:small
}

