#popup_enable {
    height: 30px;
    width: auto;
    outline: none;
    margin: 10px;
    background-color: #20b9d4;
    border-radius: 6px;
    align-self: center
  }

#status {
  /* white-space: nowrap; */
  text-align: center;
  font-size: small;
}

#popup {
  background-color: #B3B3B3
}

#shifts {
  width:250px;
  height:200px;
}

#shifts_label {
  font-size:medium;
}

.chkbox {
  padding-left: 10px;
  font-weight: bold;
  font-size:small
}

